<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://c7922496df0449ad86e6b9f01b836574.vfs.cloud9.us-east-2.amazonaws.com"><h1>Express Line</h1></a>
</div>
<br>.

<h1><center><%= food.name %></center></h1>

<img src = "<%= food.picAdd %>"
        alt="Logo"
        width = "300", height = "150", align="left">
        
        
        <a href = "<%= food.menu %>">Menu</a>
        
</html>