<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://2fd169176389422c91e6f777bd75e4a9.vfs.cloud9.us-east-2.amazonaws.com/"><h1>Express Line</h1></a>
</div>
<p>Find me in app/views/index/index.html.erb</p>

<style>
    h2 {
        font-size:50px;
        color:green;
        background-color: yellow;
    }
    .side-info {
        background-color: green;
    }
    
    div.a {
        text-align: left;
        background-color: yellow;
    }
</style>





<div class = "a">
    <h2><strong>List of resturants</strong></h2>
    <!-- Bojangles -->
<img src = "https://www.thefirstteeupstate.org/wp-content/uploads/sites/148/2016/07/Bojangles-Logo.png" alt="Bojangles"
    width = "200">
  <ul class = "side-info">
    <p><strong>Name: </strong><br>
    <strong>Location: </strong><br>
    </p>
</ul>  
<!-- Panda Express -->
<img src = "https://upload.wikimedia.org/wikipedia/en/thumb/8/85/Panda_Express_logo.svg/800px-Panda_Express_logo.svg.png"
alt="Panda Express" width = "200">
<ul class = "side-info">
    <p><strong>Name: </strong><br>
    <strong>Location: </strong><br>
    </p>
</ul>  
</div>





<footer>
    <p>&copy; 2019</p>
</footer>
</html>