<<<<<<< HEAD
<div class = "navbar">
    <a href = "https://c7922496df0449ad86e6b9f01b836574.vfs.cloud9.us-east-2.amazonaws.com"><h1>Express Line</h1></a>
</div>
<p>Find me in app/views/index/index.html.erb</p>

<style>
    h2 {
        font-size:50px;
        color:green;
    }
</style>

<h2><strong>List of resturants</strong></h2>

<!-- Bojangles -->
<img src = "https://www.thefirstteeupstate.org/wp-content/uploads/sites/148/2016/07/Bojangles-Logo.png" alt="Bojangles"
    width = "300" height ="300">

<footer>
    <p>&copy; 2019</p>
</footer>