<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://2fd169176389422c91e6f777bd75e4a9.vfs.cloud9.us-east-2.amazonaws.com/"><h1>Express Line</h1></a>
</div>
<<<<<<< HEAD
<br>.
<h2><strong>List of restaurants</strong></h2>
<% @foods.each do |food| %>
<div class = "a">
    
        <img src = "http://www.chick-fil-a.com/-/media/Images/CFACOM/Default-Images/chick-fil-a-logo-vector.ashx"
        alt="Bojangles"
        width = "200", align="left">
        <p>
        <div class="title">
            <td><%= food.name %></td>
            
        </div>
        <br>
        <strong>Location: </strong>Prospector
        <td><%= food.desc %></td>
        <br>
        
        
        </p>
</div>
<% end %>
<!-- Feisty's 
<br>
<div class = "a">
<img src = "https://aux.uncc.edu/sites/aux.uncc.edu/files/media/logos/logo_feistys.png"
alt="Panda Express" width = "200", align="left">
<p>
        <div class="title">
            Feisty's
            
        </div>
        <br>
        <strong>Location: </strong>Prospector
        <br>
</p>
  
</div>
-->
<footer>
    <p>&copy; 2019</p>
</footer>
</html>
>>>>>>> f228bb7fb6608bb27c85a430ffc787522c6b3ebf
