<<<<<<< HEAD
<div class = "navbar">
    <a href = "https://c7922496df0449ad86e6b9f01b836574.vfs.cloud9.us-east-2.amazonaws.com"><h1>Express Line</h1></a>
</div>
<p>
    Find me in app/views/index/index.html.erb
</p>

<h2><strong>List of resturants</strong></h2>

<div class = "a">
    
        <img src = "https://www.thefirstteeupstate.org/wp-content/uploads/sites/148/2016/07/Bojangles-Logo.png" alt="Bojangles"
        width = "200", align="left">
        <p>
        <div class="title">
            Bojangles
            
        </div>
        <br>
        <strong>Location: </strong>Student Union
        <br>
        Bojangles is a Southeastern United States regional chain of fast food restaurants, 
        specializing in cajun seasoning, fried chicken, and buttermilk biscuits.
        
        </p>
</div>