<!DOCTYPE html>
<html>
<div class = "navbar">
    <a href = "https://2fd169176389422c91e6f777bd75e4a9.vfs.cloud9.us-east-2.amazonaws.com/"><h1>Express Line</h1></a>
</div>
<<<<<<< HEAD
<br>S
<h2><strong>List of restaurants</strong></h2>

<div class = "a">
    
        <img src = "https://www.thefirstteeupstate.org/wp-content/uploads/sites/148/2016/07/Bojangles-Logo.png" alt="Bojangles"
        width = "200", align="left">
        <p>
        <div class="title">
            Bojangles
            
        </div>
        <br>
        <strong>Location: </strong>Student Union
        <br>
        
        
        </p>
</div>
<!-- Panda Express -->
<br>
<img src = "https://upload.wikimedia.org/wikipedia/en/thumb/8/85/Panda_Express_logo.svg/800px-Panda_Express_logo.svg.png"
alt="Panda Express" width = "200">
<ul class = "side-info">
    <p><strong>Name: </strong><br>
    <strong>Location: </strong><br>
    <strong>Description: </strong><br>
    <strong>Catagory: </strong><br>
    <strong>Hours: </strong><br>
    </p>
</ul>  
</div>





<footer>
    <p>&copy; 2019</p>
</footer>
</html>
>>>>>>> f228bb7fb6608bb27c85a430ffc787522c6b3ebf
