// Place all the styles related to the Index controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
    overflow: hidden;
    background-color: #046A38;
    position: fixed;
    top: 0;
    width: 100%;
}
.navbar h1{
    color: #B9975B;
    text-align: center;
    text-decoration: none;
}
.navbar a{
    text-decoration: none;
}

h2 {
        font-size:50px;
        color:green;
    }
    
.a{
    border-style: solid;
    border-width: 1px;
    overflow: auto;
}

.title{
    text-align:center;
    font-weight:bold;
    font-size: 1.5em;
    color: #27251F;
}
button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.content {
    padding-top: 10px;
    padding-left: 300px;
}

.image {
    padding-top: 80px;
}
.sideInfo {
    word-spacing: 5px;
    font-size: 1.2em;
    font-family: inherit;
    padding-left: 200px;
    padding-top: 10px;
    background-color: #DAA520;
}
